.ele{
    text-align: center;color:goldenrod;
}

.ela{
    text-align: center;color: goldenrod;
}
.elw{
    text-align: center;color: goldenrod;
}
body{
    background-color: black;
}
.ely{
    width: 55px; ;
    height: 55px; ;
}
.elu{
    color: goldenrod;
}